weights/classify.pth filter=lfs diff=lfs merge=lfs -text
weights/detect.pth filter=lfs diff=lfs merge=lfs -text
weights/getFeature.pth filter=lfs diff=lfs merge=lfs -text
pictures/匹配错误的.gif filter=lfs diff=lfs merge=lfs -text
pictures/匹配正确的.gif filter=lfs diff=lfs merge=lfs -text
